ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:hover,
a {
    color: black;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
    box-sizing: border-box;
}
